/* override design class */
.bg-dark {
    background-color: #14213d!important;
}

body {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}
.image-container-riders {
	background: url('/assets/images/rider-icon.png');
	background-repeat: no-repeat;
	background-size: contain;
}
.image-container-trainers {
	background: url('/assets/images/trainer-icon.png');
	background-repeat: no-repeat;
	background-size: contain;
}
.image-container-horses {
	background: url('/assets/images/horses-icon.png');
	background-repeat: no-repeat;
	background-size: contain;
}

.text-pending { color: #FFA500; }

.upcoming-list__wrapper .list-group .card:hover {
	background-color: #d3d3d3;
}

.wrapper { width: 100%; }

.sidebar {
	position: absolute;
	width: 100%;
	z-index: 1000;
	overflow-y: scroll;
	transform: translateX(-100%);
	background: #13214A;
	height: 100vh;
	transition: transform 0.5s ease-in-out;
}

.sidebar--show {
	transform: translateX(0%);
}

.sidebar .logo {
	margin: 50px 0;
}

.sidebar .logo img { display: block; margin: auto; width: 280px; }

.side-menu {
	border-top: 1px solid #f1f1f1;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.side-menu li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.side-menu li a {
	border-bottom: 1px solid #f1f1f1;
	display: block;
	color: #fff;
	padding: 20px;
	padding-left: 30px;
}

.side-menu li a:hover, .side-menu li a.active {
	background: #fff;
	color: #13214A;
	text-decoration: none;
}

.side-menu li a i {
	display: inline-block;
	margin-right: 10px;
}

.content {
	margin-top: 15px;
}

h1 {
	font-size: 21px;
}

h2 { font-size: 19px; }
.table th {
	font-size: 12px;
}

.btn { font-size: 12px; }
.btn-main {
	background: #13214A !important;
	color: #fff !important;
}

a {
	color:  #13214A;
	text-decoration: none;
}

a:hover {
	color:  #13214A;
}

.hidden { display: none; }

.page-link { font-size: 12px; color: #13214A; }
.page-item.active .page-link {
	background: #13214A;
	border-color: #13214A;
}

.submit-btn {
	display: block;
	font-size: 14px;
	font-weight: bold;
	padding: 10px;
	width: 100%;
}

.submit-btn:hover {
	background: #13214Add !important;
}

.create-btn {
	padding: 10px 20px;
}

.modal-overlay {
	display: none;
}

html body.modal-show {
	overflow: hidden;
}

html body.modal-show .modal-overlay {
	background: #fff;
	display: block;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	opacity: 0.3;
	width: 100%;
	z-index: 999;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
a:focus,
.uneditable-input:focus {   
  border-color: inheret;
  box-shadow: none;
  outline: 0 none;
}

.event-info {
	background: #f1f1f1;
	border: 1px solid #ccc;
	padding: 20px;
}

@media screen and (min-width: 1200px) {

	body.overflow-hidden {
		overflow: auto !important;
	}

	.sidebar {
		position: initial;
    width: 16.66666667%;	
    transform: translateX(0%);
    max-width: initial;
		height: auto;
		margin-left: -16.66666667%;
		transition: margin .5s ease-in-out;
	}

	.sidebar--show {
		margin-left: 0;
	}

	.side-menu li a {
		padding: 10px;
	}

	
}